page-login {
  .background {
    height: 100%;
    width: 100%;
    background-color: #3ebffb;
  }

  ion-card.card {
    margin-top: 10%;
    border-radius: 10px;
  }

  .border-box {
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    background-color: rgb(236, 236, 236);
  }
}
