page-profile {
    .profile-background {
        background-color: #009688;
        height: 350px;
        width: 100%;
        text-align: center;
    }

    // .image-background img {
    //     height: 100% !important;
    //     width: 100% !important;
    //     border: 3px solid #000000;
    //     border-radius: 50%;
    // }
}
