page-home {

    .image img{
        height: 50px !important;
        width: 50px !important;
        background-size: cover !important;
        background-position: center center !important

    }

}
