page-home {
  .image img {
    height: 50px !important;
    width: 50px !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-color: #002a3e;
  }

  .flb {
    background-color: #3ebffb;
    height: 100%;
    width: 100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
